.container {
  display: flex;
}

.sidebar {
  width: 56px;
  height: 100vh;
  background-color: #101113;
  color: #9e9e9e;
  border: 1px solid #343a40;
}

.logo1 {
  margin: 15px;
  background-color: white;
  font-weight: bolder;
  color: black;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center;
}

.sidebar-item {
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center;
  padding-top: 40px;
}

.main {
  flex: 1;
  background-color: black;
}

.header1 {
  color: white;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1235 px;
  height: 63px;
  padding-left: 3%;
  padding-right: 3%;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.content {
  padding: 20px;
  border-radius: 5px;
}

.message {
  text-align: center;
  position: absolute;
  top: 50%; /* Move the div 50% down from the top */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center;
}

.message img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.message h2 {
  color: white;
  background-color: black;
}

.message p {
  width: 250px;
  color: #9e9e9e;
  background-color: black;
}
